.main__input {
  margin: 0 20px 0 0;
  padding: 10px;
  border-radius: 100px;
  font-size: 20px;
}

@media screen and (max-width: 1300px) {
  .main__input {
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  .main__input {
    font-size: 16px;
    padding: 5px;
  }
}

@media screen and (max-width: 600px) {
  .main__input {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .main__input {
    margin: 0;
    width: 250px;
    height: 26px;
  }
}

@media screen and (max-width: 350px) {
  .main__input {
    width: 181px;
  }
}