.main__unit {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .main__unit {
    flex-direction: column;
    align-items: center;
    width: 200px;
  }
}