.header__phone {
  margin: 0;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
}

.header__phone:hover {
  opacity: .8;
}

@media screen and (max-width: 1850px) {
  .header__phone {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .header__phone {
    display: flex;
  }
}

@media screen and (max-width: 750px) {
  .header__phone {
    display: none;
  }
}