.contacts__area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  align-self: center;
  justify-self: center;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .contacts__area {
    width: 100%;
  }
}