.main {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 0;
  background-image: url(../../images/main/main.webp);
}

@media screen and (max-width: 1300px) {
  .main {
    /* background-image: url(../../images/main/main_small.webp); */
  }
}

@media screen and (max-width: 500px) {
  .main {
    /* background-image: url(../../images/main/main_supersmall.webp); */
  }
}