.popup__submit-button {
  display: block;
  box-sizing: border-box;
  width: 200px;
  min-height: 50px;
  margin: 0;
  padding: 0;
  background-color: #ff4500;
  border: none;
  border-radius: 100px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  cursor: pointer;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .popup__submit-button {
      width: 100%;
      min-height: 46px;
      margin-top: 12px;
      margin-bottom: 25px;
      font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  .popup__submit-button {
    font-size: 16px;
  }
}