.header__consult-burger {
  display: flex;
  justify-content: center;
  margin: 0 0 30px 0;
  color: white;
  cursor: pointer;
  background-color: orangered;
  border: none;
  border-radius: 100px;
  padding: 5px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .header__consult-burger {
    font-size: 22px;
  }
}

@media screen and (max-width: 500px) {
  .header__consult-burger {
    font-size: 20px;
  }
}

@media screen and (max-width: 360px) {
  .header__consult-burger {
    font-size: 18px;
  }
}

@media screen and (max-width: 310px) {
  .header__consult-burger {
    font-size: 16px;
  }
}