.header__block {
  margin: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 100%;
}

@media screen and (max-width: 1500px) {
  .header__block {
    margin: 0 50px;
  }
}

@media screen and (max-width: 1300px) {
  .header__block {
    margin: 0 300px 0 50px;
  }
}

@media screen and (max-width: 1200px) {
  .header__block {
    margin: 0 250px 0 50px;
  }
}

@media screen and (max-width: 1100px) {
  .header__block {
    margin: 0 200px 0 50px;
  }
}

@media screen and (max-width: 1000px) {
  .header__block {
    margin: 0 175px 0 50px;
  }
}

@media screen and (max-width: 900px) {
  .header__block {
    margin: 0 150px 0 50px;
  }
}

@media screen and (max-width: 850px) {
  .header__block {
    margin: 0 125px 0 50px;
  }
}

@media screen and (max-width: 700px) {
  .header__block {
    margin: 0 25px;
  }
}