.copyright__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .copyright__block {
    margin: 0 25px;
  }
}

@media screen and (max-width: 400px) {
  .copyright__block {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }
}