.footer__title {
  font-size: 36px;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .footer__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .footer__title {
    font-size: 28px;
  }
}