.main__text {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 30px 0 0 0;
  width: 600px;
}

@media screen and (max-width: 1600px) {
  .main__text {
    font-size: 12px;
  }
}

@media screen and (max-width: 1400px) {
  .main__text {
    margin: 20px 0 0 0;
  }
}

@media screen and (max-width: 1200px) {
  .main__text {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .main__text {
    width: 450px;
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .main__text {
    width: 300px;
    margin: 10px 0 0 0;
  }
}

@media screen and (max-width: 350px) {
  .main__text {
    width: 181px;
  }
}