.header__call {
  margin: 0;
  color: white;
  cursor: pointer;
  background-color: orangered;
  border: none;
  border-radius: 100px;
  padding: 5px;
  font-size: 20px;
  font-weight: 400;
}

.header__call:hover {
  opacity: .8;
}

@media screen and (max-width: 1700px) {
  .header__call {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  .header__call {
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  .header__call {
    font-size: 16px;
  }
}

@media screen and (max-width: 750px) {
  .header__call {
    display: none;
  }
}