.copyright__subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  .copyright__subtitle {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .copyright__subtitle {
    margin-bottom: 10px;
  }
}