  .header__burger-type {
    background-color: #5F8EB3;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding-top: 80px;
}