.technical {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
}

@media screen and (max-width: 1600px) {
  .technical {
    margin: 0 50px;
  }
}

@media screen and (max-width: 700px) {
  .technical {
    margin: 0 25px;
  }
}