.popup__container_fullsize {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 40vw;
  max-height: 70vh;
}

@media screen and (max-width: 768px) {
  .popup__container_fullsize {
    width: 75%;
    max-width: none;
    max-height: none;
  }
}

@media screen and (max-width: 500px) {
  .popup__container_fullsize {
    width: 85%;
  }
}